.homepagebg {
  background-image: url("/images/background1.png");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center; /* Centrer verticalement */
  justify-content: center; /* Centrer horizontalement si nécessaire */
  height: 100%; /* Pour que le conteneur occupe toute la hauteur de son parent */
}

.logo {
  height: 18vw;
  margin: 0 auto; /* Pour centrer horizontalement si nécessaire */
}

@media (max-width: 380px) {
  .logo {
    height: 45vw; 
  }
  .homepagebg {
    background-image: url("/images/background-little-vertical.png");}

}

@media (max-width: 768px) {
  .logo {
    height: 28vw;
  }
  .homepagebg {
    background-image: url("/images/background-little-vertical.png");}
}

@media (max-width: 835px) {
  .logo {
    height: 28vw;
  }
  .homepagebg {
    background-image: url("/images/background-little-vertical.png");}
}

@media (max-width: 885px) {
  .logo {
    height: 28vw;
  }
  .homepagebg {
    background-image: url("/images/background-little-vertical.png");}
}
