.avatar-inventaire-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .avatar {
    height: 16vw;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  .inventaire {
    margin: 0 auto;
  }

  .spacer{
    width: 15%;
  }

  @media (max-width: 380px) {
    .avatar-inventaire-container {
        flex-direction: column; 
        justify-content: center;
      }
      
    .avatar {
        height: 45vw;
        margin: 0 auto;
        margin-bottom: 30px;
        order: 2;
      }
      
    .inventaire {
        height: 60vw;
        order: 1;
      }
  }
  
  @media (max-width: 768px) {
    .avatar-inventaire-container {
        flex-direction: column; 
        justify-content: center;
      }
      
    .avatar {
        height: 45vw;
        margin: 0 auto;
        margin-bottom: 30px;
        order: 2;
      }
      
    .inventaire {
        height: 80vw;
        order: 1;
      }
  }

  @media (max-width: 835px) {
    .avatar-inventaire-container {
        flex-direction: column; 
        justify-content: center;
      }
      
    .avatar {
        height: 30vw;
        margin: 0 auto;
        margin-bottom: 30px;
        order: 2;
      }
      
    .inventaire {
        height: 80vw;
        order: 1;
      }
  }
  
  @media (max-width: 885px) {
    .avatar-inventaire-container {
        flex-direction: column; 
        justify-content: center;
      }
      
    .avatar {
        height: 30vw;
        margin: 0 auto;
        margin-bottom: 30px;
        order: 2;
      }
      
    .inventaire {
        height: 60vw;
        order: 1;
      }
  }
  